In [6]:
import pandas as pd

dados = pd.read_csv('/content/tracking.csv')
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [7]:
mapa = {
    "home": "principal",
    "how_it_works": "como_funciona",
    "contact": "contato",
    "bought": "comprou"
}
dados = dados.rename(columns=mapa)

In [8]:
X = dados[["principal", "como_funciona", "contato"]]
X.head()

   principal  como_funciona  contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0

In [9]:
y = dados["comprou"]
y.head()

0    0
1    0
2    0
3    0
4    0
Name: comprou, dtype: int64

In [10]:
treino_X = X[:75]
treino_y = y[:75]
teste_X = X[75:]
teste_y = y[75:]

In [11]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

modelo = LinearSVC()
modelo.fit(treino_X, treino_y)
previsoes = modelo.predict(teste_X)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

A acurácia foi 95.83%

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20

treino_X, teste_X, treino_y, teste_y = train_test_split(X, y, random_state=SEED, test_size=0.25)

modelo = LinearSVC()
modelo.fit(treino_X, treino_y)
previsoes = modelo.predict(teste_X)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

A acurácia foi 96.00%

In [20]:
treino_y.value_counts()

0    47
1    27
Name: comprou, dtype: int64

In [22]:
teste_y.value_counts()

0    19
1     6
Name: comprou, dtype: int64

In [23]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20

treino_X, teste_X, treino_y, teste_y = train_test_split(X, y, 
                                                        random_state=SEED, 
                                                        test_size=0.25,
                                                        stratify=y)

modelo = LinearSVC()
modelo.fit(treino_X, treino_y)
previsoes = modelo.predict(teste_X)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

A acurácia foi 96.00%

In [24]:
treino_y.value_counts()

0    49
1    25
Name: comprou, dtype: int64

In [25]:
teste_y.value_counts()

0    17
1     8
Name: comprou, dtype: int64